<app-navigation></app-navigation>
<div class="container-fluid">
<br>
<div>
    <h1>Consultar Puesto</h1>
</div>
<br>
<div>
    <thead>
        <tr class="container-fluid">
          <th scope="col">Municipio</th>
          <th scope="col">Zona</th>
          <th scope="col">Puesto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <select class="container-fluid form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Selecciona</option>
                <option value="1">Cali</option>
                <option value="2">Cale</option>
                <option value="3">Cala</option>
            </select>
          </th>
          <td>
            <select class="form-select form-select-sm container-fluid" aria-label=".form-select-sm example">
                <option selected>Selecciona</option>
                <option value="1">Zona 1</option>
                <option value="2">Zona 2</option>
                <option value="3">Zona 3</option>
            </select>
          </td>
          <td>
            <select class="form-select form-select-sm container-fluid" aria-label=".form-select-sm example">
                <option selected>Selecciona</option>
                <option value="1">Puesto 1</option>
                <option value="2">Puesto 2</option>
                <option value="3">Puesto 3</option>
            </select>
          </td>
        </tr>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
</div>

<br>


<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">N° Mesa</th>
            <th scope="col">Votos de Testigos</th>
            <th scope="col">Votos de Registraduria</th>
            <th scope="col">Diferencia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>12</td>
            <td>21</td>
            <td>9</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>5</td>
            <td>15</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>30</td>
            <td>230</td>
            <td>200</td>
          </tr>
        </tbody>
      </table>
</div>

</div>