<app-navigation></app-navigation>
<div class="container-fluid">
<br>
<div>
    <h1>Gestión de testigos</h1>
</div>
<br>
<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">CC</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Celular</th>
            <th scope="col">Correo</th>
            <th scope="col">municipio</th>
            <th scope="col">Zona</th>
            <th scope="col">Puesto</th>
            <th scope="col">Mesa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1234567890</th>
            <td>Carlos</td>
            <td>Ortiz</td>
            <td>3111111111</td>
            <td>correoejemplo@app.com</td>
            <td>Cali</td>
            <td>Comuna 22</td>
            <td>Colegio X</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">1234567890</th>
            <td>Carlos</td>
            <td>Ortiz</td>
            <td>3111111111</td>
            <td>correoejemplo@app.com</td>
            <td>Cali</td>
            <td>Comuna 22</td>
            <td>Colegio X</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">1234567890</th>
            <td>Carlos</td>
            <td>Ortiz</td>
            <td>3111111111</td>
            <td>correoejemplo@app.com</td>
            <td>Cali</td>
            <td>Comuna 22</td>
            <td>Colegio X</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
</div>


</div>